JWT_SECRET=asdasdafgdgfgwewraqwewrwer
JWT_REFRESH_SECRET=poalsdaksdoasdiahdoqweqwwdd
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
PORT=4000
COOKIE_DOMAIN=localhost
AUTH_TOKEN=PuRn4nD1990

## Connect Database Postgresql ##
DB_HOST = localhost
DB_USER = mirza
DB_PASSWORD =
DB_NAME = wwebjs
DB_PORT = 5432

BULLBOARD_USER=
BULLBOARD_PASS=